<block-ui>
    <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title">Reset Password</h5>
              </div>
              <div class="card-body">
                <form [formGroup]="resetPasswordForm">
                  <div class="form-group">
                    <label>Password</label>
                    <input formControlName="password" type="password" class="form-control" placeholder="Enter your password">
                    <small *ngIf="resetPasswordForm.controls['password'].dirty && resetPasswordForm.hasError('required','password')" class="text-danger">*Password is required</small>
                  </div>
                  <div class="form-group">
                    <label>Confirm Password</label>
                    <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm your password">
                    <small *ngIf="resetPasswordForm.controls['confirmPassword'].dirty && resetPasswordForm.hasError('required','confirmPassword')" class="text-danger">*Confirm Password is required</small>
                    <small *ngIf="resetPasswordForm.hasError('confirmPasswordValidator','confirmPassword')" class="text-danger">*Passwords do not match!</small>
                  </div>
      
                  <div class="text-center mt-3">
                    <button [disabled]="resetPasswordForm.invalid" (click)="resetPassword()" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>      
</block-ui>