<block-ui>
    <div class="row justify-content-center">
        <div class="center">
            <div class="card card-user">
                <div class="card-header">
                    <h5 class="card-title">Admin</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="loginForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input formControlName="email" type="text" class="form-control" placeholder="Enter your email" value="">
                                    <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')" class="text-danger">*Email is required</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input formControlName="password" type="password" class="form-control" placeholder="Enter your password" value="">
                                    <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')" class="text-danger">*Password is required</small>
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <button [disabled]="loginForm.invalid" (click)="login()" class="btn btn-primary btn-round">Login</button>
                            </div>
                        </div>
                    </form>
    
                    <div class="text-center mt-3">
                      <p class="text-primary"><a href="#">Forgot Password?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block-ui>
